<%= render "categories/header" %>
<% if notice %><div class="alert alert-info"><span id="notice-id"><%= notice%></span></div><% end %>
<% if alert %><div class="alert alert-warning"><span id="alert-id"><%= alert%></span></div><% end %>
<div class="category-title-container">
    <span class="category-title">ALL TASKS</span>
</div>

<div class="tasks-container">
<div class="task-list-container">

<div><span class="task-header">OVERDUE</span><br/></div>
<% @overdue.each do |task| %>
<%= render "tasklist", task:task %>
<% end %>
</div>
</div>

<div class="tasks-container">
<div class="task-list-container">
<div><span class="task-header">TODAY</span><br/></div>
<% @today.each do |task| %>
<%= render "tasklist", task:task %>
<% end %>
</div>
</div>

<div class="tasks-container">
<div class="task-list-container">
<div><span class="task-header">DUE SOON</span><br/></div>
<% @soon.each do |task| %>
<%= render "tasklist", task:task %>
<% end %>

</div>
</div>

